<div id="login-signup" class="col-sm-4" ng-transclude >
	<!--<div class="user " + ( user.success ? ' ' : ' hide ' ) }>-->
	<div class="user hide">
		<button id="logout" class="btn btn-default" type="button" >
			logout <span class="glyphicon glyphicon-log-out"></span>
		</button>
		<!--<div class="user-name">Hello <span class="badge">{{ user }}</span></div>-->
		<div class="user-name">Hello <span class="badge">user</span></div>
	</div>
	<!--<div class="row " + ( user.success ? ' hide ' : '' ) }>-->
	<div class="row">
		<div class="login-group col-sm-12">
			<div class="p-0 form-group col-sm-4">
				<input id="name" class="form-control" type="text" placeholder="name" />
			</div>
			<div class="p-0 form-group col-sm-4">
				<input type="password" class="form-control" id="password" placeholder="Password" />
			</div>
			<div class="input-group-btn col-sm-4 p-0">
				<button id="login" class="btn btn-default" type="button" >
					Log In
				</button>
				<button id="signup" class="btn btn-default" type="button" >
					Sign Up
				</button>
			</div>
		</div>
	</div>
</div>