<div>
<div class="navbar navbar-default">
	<div class="container-fluid row" >
			<header-response-directive id="response" class="col-sm-8"></head-response-directive>
			<user-header-directive class="col-sm-4"></user-header-directive>


	</div>
</div>
<section class="container-fluid">
	<div class="row">
		<div id="countries" class="col-sm-6" >
			<countries-directive></countries-directive>
		</div>
		<div id="cities" class="col-sm-6" >
			<cities-directive></cities-directive>
		</div>
	</div>
</section>
</div>