extends layout

block content
	.container-fluid
		.row
			#response.col-sm-12
				#response-btn.btn-group
					button#response-add-data.btn.btn-default(type="button" disabled="disabled") add 
						span.glyphicon.glyphicon-ok
					button#response-remove-data.btn.btn-default(type="button" disabled="disabled") remove 
						span.glyphicon.glyphicon-trash
					button#response-clear-data.btn.btn-default(type="button") clear 
						span.glyphicon.glyphicon-remove
				#data-for-response country: ; city: ;
			#countries.col-sm-6
				.form-group.col-sm-12
					label(for="country-input") Country
					.input-group
						input#country-input.form-control(type="text" placeholder="select country")
						span.input-group-btn
							button#country-btn.btn.btn-default(type="button" disabled="disabled") Add Country
				ul#countries-list.col-sm-12.list
			#cities.col-sm-6
				.form-group.col-sm-12
					label(for="cities-input") Country
					.input-group
						input#city-input.form-control(type="text" placeholder="select citiy")
						//- input#city-input.form-control(type="text" placeholder="select citiy" disabled="disabled")
						span.input-group-btn
							button#city-btn.btn.btn-default(type="button" disabled="disabled") Add City
				ul#cities-list.col-sm-12.list
